Package: me.nebula.betterblock
Name: BetterBlock
Version: 1.2
Architecture: iphoneos-arm
Description: The best AdBlocker. Auto updating, no slowdowns, 100% blocking on ads.
Maintainer: Nebula
Author: Nebula
Section: Tweaks
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), firmware (>= 13.0)
Conflicts: net.myxxdev.mybloxx, net.myxxdev.mybloxx10, net.myxxdev.mybloxx11, net.myxxdev.mybloxx13, net.myxxdev.mybloxx14, net.myxxdev.mybloxx4, net.myxxdev.mybloxxlite13, net.myxxdev.mybloxxlite14, net.myxxdev.issupervisedbegone, net.myxxdev.mybloxxhipfix, net.myxxdev.mybloxxupdater, net.myxxdev.mybloxx14
